body {
  background-color: rgb(32, 32, 32);
}

h1 {
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

h2 {
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

h3 {
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

p {
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

a {
  color: rgb(35, 49, 245);
  margin-left: 20px;
}

button {
  background-color: rgb(48, 48, 48);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.eapps-instagram-feed-title {
  color: white;
}

footer {
  color: rgb(255, 255, 255);
  margin: 20px;
}